@charset "utf-8";

html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #f5f5f5;
}

a {
	color: #0ff;
}

div {
	margin: 0;
	padding: 0;
}

#appRoot,#container {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
/* 	background-color: red; */
}

#appRoot {
	overflow: hidden;
}

#container {
/* 	background-color: white; */
}


#toolPanel {
/* 	background-color: blue; */
	width: 20%;
}

#toolPanel > * {
	height: 100%;
}

#pagePanel {
/* 	background-color: green; */
	width: 60%;
	.pageControl{
		height: 70px;
	}
	.dividerHandler {
		display: none;
	}

	.selectionMode {
		width: 180px;
	}

}

button {
	/* iPadでボタンにbgcolor指定無しでスタイル適用するとbgcolorが透明になるため */
	background-color: rgb(240, 240, 240);
}

/*
.panel {
background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #4d4d4d), color-stop(0.50, #787878), color-stop(0.00, #424242));
background: -webkit-linear-gradient(top, #424242 0%, #787878 50%, #4d4d4d 100%);
background: -moz-linear-gradient(top, #424242 0%, #787878 50%, #4d4d4d 100%);
background: -o-linear-gradient(top, #424242 0%, #787878 50%, #4d4d4d 100%);
background: -ms-linear-gradient(top, #424242 0%, #787878 50%, #4d4d4d 100%);
background: linear-gradient(top, #424242 0%, #787878 50%, #4d4d4d 100%);
}
*/



.pageWrapper {
	width: 100%;
	height: 93%; //TODO
	padding: 14px;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.pageStage {
	width: 100%;
	height: 98%;
	position: relative;
	box-shadow: 0px 0px 10px 3px rgba(255,240,250,0.7);

	.pageFrame {
		border: none;
		width: 100%;
		height: 100%;
	}

	.pageOverlay {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;

		.layer {
			position: absolute;
			top: 0;
			left: 0;
		}

		.gridLayer {
			width: 100%;
			height: 100%;

			.bootstrapGridLine {
				stroke-width: 0.5px;
				stroke: gray;
			}
		}

		.pageVeil {
			width: 100%;
			height: 100%;
			opacity: 0.000000001;
			background-color: #fff;

			-webkit-user-select: none;
			-ms-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		.popupLayer {
			width: 0;
			height: 0;
			overflow: visible;

			.popupOverlay {
				position: absolute;

				// width: 300px;
				// height: 200px;
				background-color: #696969;
			}
		}


		.regionLayer {
			width: 0;
			height: 0;
			overflow: visible;

			.regionOverlay {
				visibility: visible;
				position: absolute;

				//マウスオーバー状態
				&.over {
					opacity: 0.3;
				}

				//クリック等で選択した状態
				&.selected {
					opacity: 0.4;
					border: 3px solid #00f;
					margin: -3px;
				}

				&.metrics {
					.metricsPadding {
						position: absolute;
					}

					.metricsContents {
						position: absolute;
						//コンテンツ領域の色
						background-color: #87ceeb;
					}
				}
			}
		}
	}

}


.menuWrapper {
	height: 15%;
	padding: 10px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.menu {
	width: 100%;
}

.componentPaletteWrapper {
	height: 70%;
}

#createPageForm {
	width: 600px;
//	height: 100px;
	text-align: center;

	> * {
		margin: 7px;
	}
}



.h5PopUp {
	margin: 0;
	padding: 0;

	background-color: #303030;

	border: solid 1px black;
	box-shadow: 10px 10px 10px 3px rgba(0,0,0,0.7);
}


.popUpHeader {
	height: 33px;
	width: 100%;

	> h1 {
		line-height: 18px;
		margin: 7px;
		font-size: 18px;
		display: inline-block;
	/* 	text-shadow: 0px 1px 1px #000; */
	}


	> .popUpCloseBtn {
		position: absolute;
		top: 3px;
		right: 3px;
		padding: 5px;
		margin: 0;
		height: 15px;
		line-height: 15px;
		cursor: pointer;
		text-align: center;
		vertical-align: middle;
	}
}


.popUpContents {
	width: 100%;
}


[name="pageUrl"] {
	width: 400px;
}


/* ===================== Node Path ===================== */

.breadcrumb {
	&.nodePath {
		margin-top: 5px;
		min-height: 20px;
		padding: 0 2px;

		> li {
			> .divider {
				&.sign {
					display: inline-block;
					color: #0055bb;
					font-weight: bold;
					background-color: transparent;
					font-size: 12pt;
					width: 10px;
				}
			}
			> .component {
				display: inline-block;
				line-height: 15px;
				text-align: center;
				font-weight: bold;
				width: 15px;
				height: 15px;
				background-color: gold;
				font-style: italic;
				color: crimson;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
			}
			> .tagName {
				display: inline-block;
				max-width: 70px;
				color: black;
				font-size: 8pt;
				text-overflow: ellipsis;
				overflow: hidden;
				word-break: normal;
				white-space: nowrap;
				vertical-align: top;
			}
			> .highlight {
				color: blue;
				background-color: hotpink;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
			}
		}
	}
}

/* =====================  Component Palette  ===================== */

.componentPalette {
	height: 100%;
	overflow: auto;
}

/* =====================  edit Panel  ===================== */
#editPanel {
/* 	background-color: yellow; */
	width: 100px;

	.editorRoot {
		overflow-x: auto;

		form {
			margin: 10px 0;
		}
	}

	.nav {
		margin: 0;
	}

	.output {
		margin: 10px 0 0;

		> .btn-small {
			margin-bottom: 5px;
		}
	}

	.html {
		padding-right: 10px;
		box-sizing: border-box;
		textarea {
			width: 100%;
			height: 20em;;
		}
	}

	.tab-content {
		overflow-x: hidden;
		padding-left: 10px;
	}

	label, input, button, select, textarea {
		font-size: 11px !important;
		padding-top: 0;
		padding-bottom: 0;
	}

	.input-wrap {
		box-sizing: border-box;
		margin: 0;
		display:inline-block;
		width: 80%;
	}

	.control-group {
		margin: 5px 0 0;

		.control-label {
			margin-bottom: 0;
		}
	}

	label {
		width: 20%;
		display: inline-block;
		vertical-align: text-bottom;
	}

	textarea,input,select {
		margin: 0;
		box-sizing: border-box;
	}

	textarea, input[type="text"] {
		width: 100%;
	}

	.controls {
		width: 98%;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: inline-block;

		select {
			padding: 1px;
			height: inherit;
			width: 100%;
		}

		.subForm {
		    border: 1px solid;
		    padding: 3px 0 3px 3px;
		    box-sizing: border-box;
		}
	}

	.controls.integer {
		select {
			width: 40px;
		}
		input {
			width: 65%;
		}
		.back-value,.forward-value {
			display: inline-block;
			vertical-align: middle;

			.succ {
				height: 15px;
				display:block;
				padding: 0;
				width: 20px;
				line-height: 0;
			}
		}
	}

	/* タグ編集 */
	.tagEdit {
		overflow-x: auto;

		input {
			margin:0;
		}
		table {
			margin-left: 7px;

			.hidden {
				display: none;
			}
			thead {
				font-size: 11px !important;
				th {
					padding: 0 0 0 5px;
					text-align: left;
				}
			}
			.labelCell {
				input {
					width: 70px;
				}
			}
			.valuetCell {
				width: 100%;
				padding-right: 10px;
			}

			button {
				height: 14px;
				width: 14px;
				line-height: 0px;
				padding: 0;
			}
		}
		.attrErrorMessage {
			height: 14px;
			p {
				white-space: nowrap;
				padding: 0;
				margin: 0;
			}
		}
	}

	/* CSSLiveEditor */
	#editCSSPanel {
		padding: 0;

		.styleDef-wrapper{
			width: 100%;
			height: 100%;
			padding: 0px 5px 100px 5px;
			position: absolute;
			top: 0;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			#styleDef {
				width: 100%;
				height: 100%;
				margin-bottom: 2px;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}

			#cssErrorMessage {
				white-space: normal;
			}
		}
	}
}

/* ================================== ポップアップエディタ =============================== */
.popupOverlay.editor {
	width: 300px!important;
	max-height: 225px!important;
	overflow: auto;
	h3 {
		padding:0;
		margin:0;
	}

	.editorRoot {
		overflow-x: auto;
	}

	.nav {
		margin: 0;
	}

	.html {
		padding-right: 18px;
		box-sizing: border-box;
		textarea {
			width: 100%;
			height: 20em;;
		}
	}

	.tab-content {
		overflow-x: hidden;
		padding-left: 10px;
	}

	label, input, button, select, textarea{
		font-size: 11px !important;
		padding-top: 0;
		padding-bottom: 0;
	}

	.input-wrap {
		padding-right: 85px;
		box-sizing: border-box;
		margin: 0;
		display:inline-block;
		width: 100%;
	}

	.control-group {
		margin: 5px 0 0;

		.control-label {
			margin-bottom: 0;
		}
	}

	label {
		width: 75px;
		display: inline-block;
		vertical-align: text-bottom;
	}

	textarea,input,select {
		margin:0;
		box-sizing: border-box;
	}

	textarea, input[type="text"] {
		width: 100%;
	}

	.controls {
		width: 100%;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: inline-block;
		>*{
			width: 100%;
		}

		select {
			padding: 1px;
			height: inherit;
			width: 120px;
		}

		.subForm {
		    border: 1px solid;
		    padding: 3px 0 3px 3px;
		    box-sizing: border-box;
		}
	}
	.controls.integer {
		select {
			width: 40px;
		}
		input {
			width: 60px;
		}
		.back-value,.forward-value{
			display: inline-block;
			.succ {
				height: 15px;
				display:block;
				padding: 0;
				width: 20px;
				line-height: 0;
			}
		}
	}

	/* タグ編集 */
	.tagEdit {
		h3 {
			margin-bottom: 0;
		}
		padding: 5px;
		input {
			margin:0;
			.error {
				border-color: #b94a48;
				-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
				-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			}
		}
		.tagName {
			padding-left: 1em;
		}
		table {
			.hidden {
				display: none;
			}
			thead {
				font-size: 11px !important;
				th {
					padding: 0 0 0 5px;
					text-align: left;
				}
			}
			.labelCell {
				input {
					width: 70px;
				}
			}
			.valuetCell {
				width: 100%;
				padding-right: 10px;
			}

			button {
				height: 14px;
				width: 14px;
				line-height: 0px;
				padding: 0;
			}
		}

		.attrErrorMessage {
			height: 14px;
			p {
				white-space: nowrap;
				padding: 0;
				margin: 0;
			}
		}
	}
}

/* ================================== dividerの色変更 =============================== */

.divider, .dividerHandler {
	background-color: silver;
}


/* ================================== pageTemplateList =============================== */

.pageTemplateList {
	width: 500px;
	margin: 0 auto;
	padding: 0;
//	height: 120px;

	li {
		margin: 0;
		padding: 0 5px;
		display: inline-block;
	}

	.pageTemplateItem {
		width: 90px;
//		height: 120px;
		cursor: pointer;
		text-align: center;

		&.selected {
			border: solid 1px red;
			margin: -1px;
		}

		img.thumbnail {
			margin: 0 auto;
			padding: 0;
			width: 80px;
			height: 100px;
		}

		h2 {
			display: inline-block;
			margin: 2px;
			font-size: 11px;
			line-height: 13px;
			text-align: center;
			width: 90px;
			height: 26px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}
}


#if {
	background-color: white;
}


.pageControl {
	width: 100%;
	height: 5%;
	padding: 10px;

	-moz-box-sizing: border-box;
	box-sizing: border-box;

	.previewUrlBox {
		margin: 5px 0;

		.previewUrl {
			margin-left: 5px;
		}

		.previeLastSaved {
			margin-left: 5px;
		}
	}
}


/* === エクスポート === */

.export {
	width: 600px;

	.contentsBox {
		margin: 0 auto 10px;
		width: 500px;
	}

	textarea {
		display: block;
		width: 100%;
		height: 200px;
	}

	.download {
		width: 10em;
		margin: 10px auto;
	}
}


//TODO regionOverlayの仕組みに統合
.cellArea {
	opacity: 0.6;
	background-color: #fa8072; //salmon
	visibility: visible;
	position: absolute;
}

#editCSSPanel h3 {
	font-size: 12px;
	margin-left: 5px;
	line-height: 12px;

	.applyBtn {
		margin-left: 10px;
	}
}

.tagEdit h3 {
	font-size: 12px;
	margin-left: 5px;
	line-height: 12px;

	.applyBtn {
		margin-left: 10px;
	}
}
