<script type="text/ejs" id="componentMenu">
<li class="menuItem"><a href="#button" class="toComponent menuLink">Button</a>
<li class="menuItem"><a href="#dropdownMenu" class="toComponent menuLink">Dropdown menu</a>
<li class="menuItem"><a href="#splitButtonDropdown" class="toComponent menuLink">Split button dropdown</a>
<li class="menuItem"><a href="#buttonGroup" class="toComponent menuLink">Button group</a>
<li class="menuItem"><a href="#tabbableNav" class="toComponent menuLink">Tabbable nav</a>
<li class="menuItem"><a href="#navbar" class="toComponent menuLink">Navbar</a>
<li class="menuItem"><a href="#button" class="toComponent menuLink">AdvDataGrid</a>
<li class="menuItem"><a href="#button" class="toComponent menuLink">SVGGraph</a>
<li class="menuItem"><a href="#label" class="toComponent menuLink">Label</a>
<li class="menuItem"><a href="#image" class="toComponent menuLink">Image</a>
<li class="menuItem"><a href="#progress" class="toComponent menuLink">ProgressBar</a>
<li class="menuItem"><a href="#searchForm" class="toComponent menuLink">SearchForm</a>
</script>
