@charset 'utf-8';

.__genericParameterEditorBox{
	/*margin-top:1em;*/
	/*margin-bottom:1em;*/
	width:500px;
	border:solid #cccccc 1px;
	min-height:400px;
	overflow: auto;
}
.__genericParameterEditorBox form.subForm{
	margin-top:20px;
	margin-bottom:0px;
	margin-left:-60px;
}
.__genericParameterEditorBox .html textarea {
	width:100%;
	height:17em;
	box-sizing: border-box;
}
/* bootstrapオーバーライド */
.__genericParameterEditorBox select{
 /*width:auto;*/
}
.__genericParameterEditorBox .form-horizontal .control-label {
	width: 80px;
}
.__genericParameterEditorBox .form-horizontal .controls {
	margin-left: 100px;
	display: block;
}
